.popup__button-close {
  background-image: url(../../../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  border: 0;
  background-color: initial;
  position: absolute;
  top: -40px;
  right: -40px;
  padding: 0;
}

@media screen and (max-width: 555px) {
  .popup__button-close {
    background-image: url(../../../images/Close\ Icon\ smal.svg);
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}