.profile__button-add {
  border: 1px solid #FFFFFF;
  background-image: url(../../../images/Vector.svg);
  background-color: black;
  background-position: center;
  background-size: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  max-width: 150px;
  max-height: 50px;
  padding: 24px 74px;
  margin-left: auto;
}

@media screen and (max-width: 1040px) {
  .profile__button-add {
    margin-left: 0;
    padding: 24px 140px;
  }
}

@media screen and (max-width: 491px) {
  .profile__button-add {
    background-image: url(../../../images/Vector-smal.svg);

  }
}